body {
    padding-top: 54px;
}

@media (min-width: 992px) {
  body {
      padding-top: 56px;
  }
}

.tag-section {
    min-height: 50px;
    max-height: 200px;
    overflow-y: scroll;
}

img.tool-def-img {
    width: 200px;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.tool-links {
    margin: 0 0 30px 20px;
}

.carousel-fixed-height-image {
    height: 400px;
    width: 100%;
    object-fit: contain;
}

/* Spinner'is */
.lds-dual-ring {
    display: none;
    width: 32px;
    height: 32px;
    padding-top: 10px;
}
.lds-dual-ring:after {
    content: " ";
    display: block;
    width: 30px;
    height: 30px;
    margin: 1px;
    border-radius: 50%;
    border: 5px solid;
    border-color: #000000 transparent #000000 transparent;
    animation: lds-dual-ring 1.2s linear infinite;
}
@keyframes lds-dual-ring {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}

/* /Spinner'is */
