{% extends 'admin/base_panel.html.twig' %}

{% block title %}{{ parent() }} - Users{% endblock %}

{% block page_content %}
    <div class="card mb-3">
        <div class="card-header">
            <i class="fas fa-user-plus"></i>
            Add new user
        </div>
        <div class="card-body">
            <div class="col-5">
                <form action="{{ path('admin_add_user') }}" method="post">
                    <div class="row">
                        <div class="col">
                            <input type="text" class="form-control" placeholder="First name" name="firstname" required>
                        </div>
                        <div class="col">
                            <input type="text" class="form-control" placeholder="Last name" name="lastname" required>
                        </div>
                    </div>
                    <input type="text" class="form-control mt-3" placeholder="Username" name="username" required>
                    <input type="password" class="form-control mt-3" placeholder="Password" name="password" required>
                    <input type="email" class="form-control mt-3" placeholder="Email" name="email" required>
                    <input type="submit" class="btn btn-primary mt-3" value="Create">
                </form>
            </div>
        </div>
    </div>
{% endblock %}