{% extends 'admin/base_panel.html.twig' %}

{% block title %}{{ parent() }} - Tags{% endblock %}

{% block page_content %}
    <div class="card mb-3">
        <div class="card-header">
            <i class="fas fa-tags"></i>
            Tags
        </div>
        <div class="card-body">
            <div class="table-responsive">
                <table class="table table-bordered display" id="tagsDataTable" width="100%" cellspacing="0">
                    <thead>
                    <tr>
                        <th>Tag name</th>
                        <th># of times used</th>
                        <th class="col-1">Action</th>
                    </tr>
                    </thead>
                    <tbody>

                    </tbody>
                </table>
            </div>
        </div>
    </div>
{% endblock %}