{% extends 'admin/base.html.twig' %}

{% block title %}{{ parent() }} - {% trans %} Login {% endtrans %}{% endblock %}

{% block body_attribs %}class="bg-dark"{% endblock %}

{% block body %}
<div class="container">
    <div class="card card-login mx-auto mt-5">
        <div class="card-header">{% trans %} Login {% endtrans %}</div>
        <div class="card-body">
            <form method="post" action="{{ path('login') }}">
                <div class="form-group">
                    <div class="form-label-group">
                        <input type="text" id="inputUsername" name="_username" class="form-control" placeholder="{% trans %} Username {% endtrans %}" required="required" autofocus="autofocus">
                        <label for="inputUsername">{% trans %} Username {% endtrans %}</label>
                    </div>
                </div>
                <div class="form-group">
                    <div class="form-label-group">
                        <input type="password" id="inputPassword" name="_password" class="form-control" placeholder="{% trans %} Password {% endtrans %}" required="required">
                        <label for="inputPassword">{% trans %} Password {% endtrans %}</label>
                    </div>
                </div>
                <input type="hidden" name="_target_path" value="{{ path('admin') }}"/>
                <button type="submit" class="btn btn-primary btn-block">{% trans %} Login {% endtrans %}</button>
            </form>
            <div class="text-center my-3">
                <a class="d-block small" href="#">{% trans %} Forgot Password? {% endtrans %}</a>
            </div>
            {% if error %}
                <div class="alert alert-danger">
                    {{ error.messageKey|trans(error.messageData, 'security') }}
                </div>
            {% endif %}
        </div>
    </div>
</div>
{% endblock %}