{% extends 'base.html.twig' %}

{% block admin_panel %}
    <a href="{{ path('admin_add_tool') }}" class="btn btn-primary">{% trans %}Add tool{% endtrans %}</a>
    <a href="{{ path('admin_add_user') }}" class="btn btn-primary">{% trans %}Add user{% endtrans %}</a>
{% endblock %}

{% block main_block %}
        <div class="row mb-2">
            <div class="input-group col-lg-12">
                <input type="text"  id="tools_search" name="search" class="form-control" placeholder="{% trans %}Search..{% endtrans %}">
                <button type="button" id="clear_search" class="btn bg-transparent" style="margin-left: -37px; z-index: 100;">
                    <i class="fa fa-times"></i>
                </button>
            </div>
        </div>
        <div class="row" id="content">
         
        </div>

        <script src="{{ asset('js/tool-search.js') }}"></script>
{% endblock %}
